[submodule "tcob/extlibs"]
	path = tcob/extlibs
	url = https://github.com/TobiasBohnen/tcob_extlibs.git
	branch = SDL3
[submodule "extras/tcob.wiki"]
	path = extras/tcob.wiki
	url = https://github.com/TobiasBohnen/tcob.wiki.git
[submodule "extras/games"]
	path = extras/games
	url = https://github.com/TobiasBohnen/tcob_games
[submodule "extras/examples"]
	path = extras/examples
	url = https://github.com/TobiasBohnen/tcob_examples
[submodule "extras/tests"]
	path = extras/tests
	url = https://github.com/TobiasBohnen/tcob_tests
[submodule "extras/tools"]
	path = extras/tools
	url = https://github.com/TobiasBohnen/tcob_tools
[submodule "extras/benchmarks"]
	path = extras/benchmarks
	url = https://github.com/TobiasBohnen/tcob_benchmarks
