[submodule "tcob/extlibs"]
	path = tcob/extlibs
	url = https://github.com/TobiasBohnen/tcob_extlibs.git
	branch = master
[submodule "extras/tcob.wiki"]
	path = extras/tcob.wiki
	url = https://github.com/TobiasBohnen/tcob.wiki.git
[submodule "extras/games"]
	path = extras/games
	url = https://github.com/TobiasBohnen/tcob_games
